@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html>
<link rel="stylesheet" href="~/Css/AdvanceMasteCss.css">
<body>

    <!-- Header -->
    <div class="header">
        <center>
            <img src="~/Images/2332-200.png" style="width:125px;height:125px" />
            <img src="~/Images/Capture.PNG" />
        </center>
    </div>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/Images/1550233512_best-farm-shops-in-essex.jpg" style="width:100%" />
            <img src="~/Images/wp3152211.jpg" style="width:100%" />


        </div>
        <div class="column">
            <img src="~/Images/grocery-items-png-tea-cofee-366.png" style="width:100%" />
            <img src="~/Images/grocery-items-png-8800965151-1107.png" style="width:100%" />
        
           
        </div>
        <div class="column">
            <img src="~/Images/download1.jfif" style="width:100%" />
            <img src="~/Images/photo-1542838132-92c53300491e.jpg" />
           


        </div>
        <div class="column">
            <img src="~/Images/grocery-items-png-consolidated-cargo-600.png" style="width:100%" />

            
            <img src="~/Images/wp3152222.jpg" style="width:100%" />


        </div>
    </div>

</body>
</html>
